@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #ffffff;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 3em;
}

.button {
  background-color: #4CAF50; /* Green */
  color: black;
  border: 2px black solid;
  text-align: left;
  text-decoration: none;
  border-radius: 24px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.50);
  font-variant: small-caps;
  font-style: italic;
  font-size: 16px;
  }

  .input-card {
    margin: 2%;
    border: 2px black solid;
  }

  .form-action {
    color: black;
    border: 2px black solid;
    background-color: #4c5baf; /* Green */
    border-radius: 24px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.50);
    font-variant: small-caps;
    font-style: italic;
    font-size: 16px;
    margin: 2%;
    }

    .form-container {
      color: black;
      border: 2px black solid;
      padding: 2%;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.50);
      margin-left: 5%;
      margin-right: 5%;
      }



